# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gitattributes
.DS_Store
/DataObjects/obj
.gitattributes
.DS_Store
Server/.DS_Store
/Server/obj
/TestServer/obj
TestServer/.DS_Store
/DataObjects/bin
/Server/bin
.DS_Store
